<h1>Здравствуйте!</h1>
<p> Введите логин и пароль для получения доступа к списку клиентов  </p>


	<form action="/admin" method="POST">
	<div class="form-group">
    <label>Введите логин</label>
<input name="login" type="text" class="form-control" placeholder="Логин">
<input name="pass" type="password" class="form-control" placeholder="Пароль">
  </div>
	  <button type="submit" class="btn btn-primary">Ок</button>


</form>



