<h2>Наши контакты</h2>
<p>Наш телефон: 8-800-555-35-55</p>
<p>Наша почта: example@ex.com</p>
<p>Заполните форму ниже, чтобы оставить заявление</p>



<form action="/contacts" method="POST" role="form">

	<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Введите ваше имя</label>
  <input name="name" type="name" class="form-control"  placeholder="Ваше имя">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Введите ваш Email</label>
  <input name="mail" type="mail" class="form-control" placeholder="name@example.com">
</div>


<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Введите ваше сообщение в поле ниже</label>
  <textarea name="text" class="form-control" rows="3"></textarea>
</div>

<button type="submit" class="btn btn-primary">Отправить</button>

</form>
